
<div style="text-align:center" class="title-app">
  <h1>
    {{ title }}!
  </h1>
</div>

<router-outlet></router-outlet>

<footer>
    <div class="row">
        <div a class="col-sm"><br><br></div>
        <div class="col-sm">
            Welcome to Henri-Potier-Lib!.
            <div class="couleurBlan" style="font-size:26px">
                <i class="fa fa-book"></i>&nbsp;
                Achetez vos livre ici !
            </div>
        </div>
        <div class="col-sm d-sm-none d-md-block d-md-none d-lg-block"><br></div>
    </div>
</footer>